# RStudio files
.Rproj.user/
.DS_Store

# R specific
.Rhistory
.RData
.Ruserdata

# Package specific
inst/doc
/doc/
/Meta/
..Rcheck/

# System files
*~
*.swp
*.swo
Thumbs.db

# Editor files
.vscode/
prototypes/*
